@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700&display=swap');

:root {
    --pupler : #4A154B;
    --white: #FFF;
    --dark: #333;
    --green: #11780F;
    --red: #D2300C;
    --grey: #D9D9D9;
    --dark-transparent: rgba(255,255,255,.5)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark);
}

.container {
    position: absolute;
    width: 360px;
    min-height: 650px;
    background: var(--white);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,.3);
    border-radius: 10px;
}

h1 {
    background-color: var(--pupler);
    color: var(--white);
    padding: 15px 0;
    font-size: 1.5rem;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bloco {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.label {
    border-radius: 10px;
    width: 60px;
    padding: 5px;
    font-size: .8rem;
    font-weight: 800;
    color: var(--white);
    text-align: center;
    position: absolute;
}

.bg-green {
    background-color: var(--green);
    left: 16%;
}

.bg-red {
    background-color: var(--red);
    right: 16%;
}

.placar {
    width: 200px;
    height: 76px;
    border: 2px solid var(--pupler);
    border-radius: 10px;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    font-weight: bold;
}

.bg-grey {
    background-color: var(--grey);
    height: 180px;
}

.selected-image div {
    width: 50%;
    min-height: 80px;
    text-align: center;
}

.selected-image div img{
    max-width: 80%;
}

.reverse {
    transform: scaleX(-1);
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 20px 0;
}

.buttons {
    width: 100%;
    display: flex;
    position:relative;
    align-items: center;
    justify-content:space-around;
}

.buttons img{
    max-width: 60%;
    transition: .3s;
}

label {
    position: relative
}

[type=radio]{
    position: absolute;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

[type=radio]:checked + button {
    background-color: var(--pupler);
}

[type=radio] + .btn {
    cursor: pointer;
    margin-right: 0.5rem;
}

.btn {
    width: 100px;
    height: 100px;
    border: 2px solid var(--pupler);
    border-radius: 50%;
    background-color:var(--grey);
    cursor: pointer;
    transition: .3s;
}

.btn:hover{
    background-color: var(--pupler);
}

.btn:hover > img {
    max-width: 70%;
}

.btn-play, .btn-play:disabled:hover {
    width: 90%;
    padding: 10px;
    border: 2px solid var(--pupler);
    border-radius: 10px;
    background-color: var(--grey);
    color: var(--dark);
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}

.btn-play:hover{
    background-color: var(--pupler);
    color: var(--white)
}

#winner {
    background: var(--white);
    z-index: 999;
    background-color: var(--pupler);
}

#loser {
    background: var(--white);
    z-index: 999;
    background-color: var(--pupler);
}

.end-screen h3{
    color: var(--white);
    font-size: 2.2rem;
    text-transform: uppercase;
}

.end-screen span{
    font-size: 2rem;
}

.end-screen button {
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.none {
    display: none;
}